1 Write Python code that prints your name, student number and email address. **bold text**

In [3]:
print("Sibin Francis")
print('DSML43-52')
print('sibinfrancis009@gmail.com')

Sibin Francis
DSML43-52
sibinfrancis009@gmail.com

2 Write Python code that prints your name, student number and email address using escape sequences.

In [4]:
print("Sibin Francis\nDSML43-52\nsibinfrancis009@gmail.com")

Sibin Francis
DSML43-52
sibinfrancis009@gmail.com

3 Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.

In [11]:
a=14
b=7
print('14 + 7 =', a+b)
print('14 * 7 =', a*b)
print('14 - 7 =', a-b)
print('14 / 7 =', a/b)

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

4 Write Python code that displays the numbers from 1 to 5 as steps.

In [12]:
for i in range(1,6):
  print(i)

1
2
3
4
5

5 Write Python code that outputs the following sentence

In [16]:
print('"SDK" stands for "Software Development Kit",\nwhereas\n"IDE" stands for "Integrated Development Environment". ')

"SDK" stands for "Software Development Kit",
whereas
"IDE" stands for "Integrated Development Environment".

6 Practice and check the output

In [17]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

7 Define the variables below. Print the types of each variable. What is the sum of your variables? What datatype is the sum?

In [26]:
num=23
textnum="57"
decimal=98.3

In [27]:
# Finding the types
print(type(num))
print(type(textnum))
print(type(decimal))

<class 'int'>
<class 'str'>
<class 'float'>

In [28]:
sum = num + int(textnum) + decimal
print('The sum of the variables = ',sum)

The sum of the variables =  178.3

In [30]:
print('The datatype of sum = ',type(sum))

The datatype of sum =  <class 'float'>

8 calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [32]:
no_of_days_in_a_year =365
hours_in_a_day = 24
minute_in_a_hour = 60

In [34]:
total_minutes_in_a_year = no_of_days_in_a_year * hours_in_a_day * minute_in_a_hour
print("The total number of minutes in a year =",total_minutes_in_a_year)

The total number of minutes in a year = 525600

9 Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [43]:
i = input('Please enter your name : ')
print(f'Hi {i}, welcome to Python programming :)')

Please enter your name : Sooraj
Hi Sooraj, welcome to Python programming :)